/* styles for my website */

* {
    margin: 0;
    padding: 3.5px;
    box-sizing: border-box;
}

body {
    background: rgb(191, 200, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: rgb(12, 3, 38);
    padding: 20px 0;
}

.inner-header {
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

#logo {
    width: 200px;
    float: left;
}

nav ul {
    float: right;
    margin-top: 30px;
    list-style-type: none;
}

nav li {
    /* float: right; */
    margin-left: 30px;
    display: inline-block;

}

nav a {
    text-decoration: none;
}
#wrapper {
    max-width: 1200px;
    margin: 20px auto;
    clear:both;
    overflow: hidden;

}

#hero {
    height: 400px;
    /* background: red; */

}

main {
    width: 62%;
    background: rgb(199, 214, 218);
    float: left;

}

aside {
    width: 35%;
    float: right;


}



footer {
    height: 60px;
    line-height: 60px;
    background-color: rgb(20, 17, 33);
    clear: both;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
    justify-content: center;
    margin: 0 15px;


}

img {
    max-width: 100%;
}

/*typography*/

p {
    margin-bottom: 20px;
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;

}

h3 {
    font-size: 1.5em;
}

h1, h2, h3 {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

ul {
    list-style-type: none;
}

fieldset {
    display: block;
    justify-content: left;
}